<h1 align="center">Ajouter une équipe</h1>

<form #myform="ngForm" (ngSubmit)="createEquipe(myform)" *ngIf="!submit">
    <div class="form-group">
      <label for="exampleInputEmail1">Identifiant</label>
      <input  ngModel name="iden" type="number" class="form-control" > 
    </div>


    <div class="form-group">
      <label for="exampleInputPassword1">Name</label>
      <input  ngModel name="name" type="text" class="form-control"  >
    </div>

    <div class="form-group">
        <label for="exampleInputPassword1">Country</label>
        <input  ngModel name="country" type="text" class="form-control" >
    </div>


    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  <button *ngIf="submit"   class="btn btn-success">Insertion avec succès</button>